<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Car.Templates">
					<targetDataStore physicalRootPath="$(carFolder)\serialization\templates"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="CarTemplates" database="master" path="/sitecore/templates/Car" />
					</predicate>
				</configuration>
				<configuration name="Car.Presentation">
					<targetDataStore physicalRootPath="$(carFolder)\serialization\presentation"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Car" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Car" />
					</predicate>
				</configuration>
				<configuration name="Car.CoreDB">
					<targetDataStore physicalRootPath="$(carFolder)\serialization\coredatabase"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="FieldEditorButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Car" />
					</predicate>
				</configuration>
				<configuration name="Car.Media">
					<targetDataStore physicalRootPath="$(carFolder)\serialization\media"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="CarMedia" database="master" path="/sitecore/media library/Car" />
					</predicate>
				</configuration>
				<configuration name="Car.Content">
					<targetDataStore physicalRootPath="$(carFolder)\serialization\content"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="CarContent" database="master" path="/sitecore/content/Car" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>