<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<sc.variable name="sourceFolder" value="C:\Users\user\Desktop\Ukesh\Car\Car"></sc.variable>
	</sitecore>
</configuration>